<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../../../styles.css">
</head>
<body class="bg-primary text-white">
    <div class="">
        <div>
            <nav class="flex justify-between w-full bg-black">
                <div class="flex md:ml-10 md:m-0 m-3 space-x-3">
                    <img src="../../../Shared/Images/menu.png" alt="" class="md:hidden h-8 w-auto cursor-pointer" id="menuButton">
                    <img src="../../../Shared/Images/logo.png" alt="" class="md:h-16 md:w-full h-9 w-auto cursor-pointer md:block hidden">
                </div>
    
                
                <div class="">
                    <img src="../../../Shared/Images/logo.png" alt="" class="md:h-16 md:w-full h-9 w-auto cursor-pointer m-3 md:hidden">
                    <ul class="flex md:space-x-10 md:text-2xl md:mt-5 space-x-3 text-2xl font-serif mt-4">
                        
                        <li class="hover:text-yellow-300  hidden md:block"><a href="../../../index.html">Home</a></li>
                        <li class="hover:text-yellow-300 hidden md:block"><a href="./shop.html">Shop</a></li>
                        <li class="hover:text-yellow-300 hidden md:block"><a href="../../General/View/aboutUs.html">About</a></li>
                    </ul>
                </div>
    
                <div class="flex md:mr-10 m-3 space-x-5">
                    <a href=""><img src="../../../Shared/Images/shopping-cart-gold.png" alt="" class="md:h-11 md:w-full h-9 w-auto"></a>
                </div>
            </nav>
        </div>
        
        <div class="w-full">
            <img src="../../../Shared/Images/coming-soon.gif" class=" mx-auto my-5">
            <div class="flex justify-center w-full mb-80 md:mb-0">
                <a href="./checkout.html" class="">
                    <button type="button" class="" style="background-color: #a48111;
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    padding: 20px;
                    border-radius: 10px;
                    border: none;
                    border-bottom: 6px solid #0002 ;
                    font-weight: 700;">Checkout</button>
                    
                </a>
            </div>
            
        </div>

           
            
    </div>

    <footer class="w-full bg-black mt-10 md:mt-32">
        <div class="md:grid md:grid-cols-3 grid grid-cols-2">
            <div class="md:p-20 p-5">
                <ul class=" border-r-2 font-sans md:text-base text-xs">
                    <a href=""><li class="my-2">About Us</li></a>
                    <a href=""><li class="my-2">Return & Refund Policy</li></a>
                    <a href=""><li class="my-2">Terms of Service</li></a>
                    <a href=""><li class="my-2">Shipping</li></a>
                </ul>
            </div>
            <div class="items-center h-full">
                <img src="../../../Shared/Images/logo.png" alt="" class="md:h-1/2 md:w-auto mx-auto md:mt-20 mt-8 h-1/2 w-auto">
            </div>
        </div>
    </footer>
    <script src="../../../index.js"></script>
</body>
</html>